<%= form_for(@result) do |f| %>

  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :poll_id %><br>
    <%= f.number_field :poll_id %>
  </div>
-->

<% @question.each do |a| %>
  <div class="field form-group input-lg">
    <%= label_tag a.name %><br>
    <%= label_tag a.id %><br>
    <%= f.fields_for :windows do |q| %>
    <%= q.hidden_field :question_id, :value => a.id %>
    
  </div>
  <% @answers = Answer.where(:question_id => a.id)   %> 
  <%= q.collection_select :answer_id, Answer.where(:question_id => a.id), :id, :name, {}, {class: "form-control"} %> 
  <% end %>
  <% end %>

<hr>

 
  <%= button_tag(type: 'submit',name: "poll_id", value: params[:poll_id], class: "btn btn-primary") do %>
  <i class="icon-ok icon-white"></i> Save
  <% end %>
<% end %>
