<h1>TEST</h1>


<% @question.each do |a| %>
  <div class="field">
    <%= label_tag a.name %><br>
    <%= label_tag a.id %><br>
  </div>
  <% @answers = Answer.where(:question_id => a.id)   %> 
  <%= collection_select(a, :answer_id, Answer.where(:question_id => a.id), :id, :name) %> 
  <% end %>


<br />
<%= link_to 'Submit Survey', polls_path %>

  <!--
Kalo to epanw alla thelw me radio_button

<% @answers.each do |c| %>
  <div class="field">
    <%= radio_button_tag(:answer_id, c.name) %>
    <%= label_tag c.name %><br>
  </div>
  <% end %>

  -->