<h1>Listing polls</h1>

<% if current_user.try(:admin?) %>
<table class="table table-hover" >
  <col width="2000">
  <col width="10">
  <col width="10">
  <col width="10">
  <col width="10">
  <thead>
    <tr class='info'>
      <th>Name</th>
      <th></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.name, questions_path(:poll_id => poll.id) %></td> <!-- pernaw to poll.id sto question index -->
        <td><%= link_to 'Show', poll, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_poll_path(poll), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-xs'%></td>
        <td><%= link_to 'Take this survey', new_result_path(:poll_id => poll.id), class: 'btn btn-warning btn-xs'%></td>
        <!-- <td> link se view pou tha apantw se erwtiseis. Tha kanw nea view pou tha pernw dedomena kai tha ta apothikeuw </td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.name %></td>
        <td><%= poll.question_number %></td>
        <td><%= link_to 'Show', poll %></td>
        <td><%= link_to 'Take this survey', results_ena_path(:poll_id => poll.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>

<% if current_user.try(:admin?) %>

<%= link_to new_poll_path, class: 'btn btn-success' do  %>
<i class="glyphicon glyphicon-plus"></i> New Todo
<% end %>

<% end %>