<h1>Listing polls</h1>

<% if current_user.try(:admin?) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Question number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= link_to poll.name, questions_path(:poll_id => poll.id) %></td> <!-- pernaw to poll.id sto question index -->
        <td><%= poll.question_number %></td>
        <td><%= link_to 'Show', poll %></td>
        <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
        <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Take this survey', poll_questions_index_path(:poll_id => poll.id)%></td>
        <!-- <td> link se view pou tha apantw se erwtiseis. Tha kanw nea view pou tha pernw dedomena kai tha ta apothikeuw </td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Question number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.name %></td>
        <td><%= poll.question_number %></td>
        <td><%= link_to 'Show', poll %></td>
        <td><%= link_to 'Take this survey', poll_questions_index_path(:poll_id => poll.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>

<% if current_user.try(:admin?) %>

<%= link_to 'New Poll', new_poll_path %>

<% end %>